.loading
  &-wrapper
    display: flex
    flex-direction: column

  &-bar
    width: 500px
    height: 60px
    border: 4px solid black
    position: relative
    padding: 3px

    &-fill
      width: 1%
      height: 100%
      background-color: #000

  &-text
    font-size: 30px
    margin-bottom: .8rem
